.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.robotWrapper {
    position: relative;
    width: 25rem;
}

.robotWrapper .robotImg {
    width: 100%;
    overflow: hidden;
}

.robotWrapper .leftEyeWrapper {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 17%;
    left: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftEyeImg, .rightEyeImg {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.1s;
}

.robotWrapper .rightEyeWrapper {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 17%;
    left: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .animation-container {
        display: none;
    }
}